nav {
  font-family: "PT Sans", sans-serif;
  color: white;
  position: relative;
  background-color: $color;
  .container {
    user-select: none;
    padding: $gap 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .logo {
      display: flex;
      align-items: center;
      gap: 8px;
      h1 {
        font-size: 30px;
      }
      .logo-icon svg {
        font-size: 25px;
      }
    }
    .mobile-menu {
      display: none;
      .toggle-icon {
        cursor: pointer;
        svg {
          font-size: 25px;
        }
        .x {
          rotate: 133deg;
        }
      }
    }
    .links {
      ul {
        display: flex;
        align-items: center;
        flex-flow: row nowrap;
        gap: 3px;
        font-size: 17px;
        li {
          cursor: pointer;
          transition: 0.2s;
          padding: 10px 17px;
          background-color: transparent;
          border-radius: 5px;
          &.sign-in-link {
            background-color: rgba(255, 255, 255, 0.219);
          }
          &:hover {
            background-color: rgba(255, 255, 255, 0.219);
          }
          a {
            text-decoration: none;
            color: white;
          }
        }
      }
    }
    @media screen and (max-width: 850px) {
      .mobile-menu {
        display: block;
      }
      .links {
        padding: $gap 0;
        background-color: $color;
        position: absolute;
        width: 100%;
        transition: all 0.4s ease;
        left: 0;
        display: flex;
        &.show-links {
          bottom: -301px;
        }
        &.hide-links {
          bottom: 75px;
        }
        justify-content: center;
        ul {
          display: flex;
          align-items: center;
          width: 50%;
          flex-flow: column nowrap;
          gap: $radius;
          font-size: 19px;
          text-align: center;
          li {
            width: 100%;
            cursor: pointer;
            transition: 0.2s;
            padding: 10px 17px;
            background-color: transparent;
            border-radius: $radius;
            &.sign-in-link {
              background-color: rgba(255, 255, 255, 0.219);
            }
            &:hover {
              background-color: rgba(255, 255, 255, 0.219);
            }
            a {
              text-decoration: none;
              color: white;
            }
          }
        }
      }
    }
  }
}
